
body {
    background-color: powderblue;
    padding: 0 30px;
    margin: auto;
  }

h1, h2, h3, p, a{
    font-family: helvetica;
    color: slategrey;
}
h1{
    font-size: 20pt;
    text-align: center;
    color:  salmon;
}

h2{
    font-size: 12pt;
    text-align: center;
}

p{
    font-size: 10pt;
    line-height: 1.5em;
   margin-bottom: 100px;
   
}

#items{
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#items img {
    height: 15vh;
    width: auto;
    transition: transform .2s;
    padding: 10px;
}
#items img:hover {
    transform: scale(1.05);
}

footer{
    background-color: salmon;
    text-align: center;
    position: fixed;
    width: 100%;
    left: 0px;
    bottom: 0px;
    padding: 24px;
}

footer a{
    text-align: center;
    padding-right: 15px;
    font-size: 10pt;
}

div p{
    padding-bottom: 50px;
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
}

@media only screen and (min-width: 769px){
    #items{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    #items img {
        height: 35vh;
        width: auto;
        transition: transform .2s;
        padding: 30px;
    }

    h1{
        font-size: 24pt;
    }

    h2{
        font-size: 14pt;
    }
    
    p, a{
        font-size: 12pt;
        line-height: 1.5em;
    }
}